@charset "utf-8";
/* CSS Document */

html {margin: 0px;}

body {
	margin: 0px; 
	background-color:#000;
	background-image:url(../images/background.png);
	background-repeat: repeat-x;
	}

/* Centering */

#header, #content, #submit_content {
	margin-left: auto;
	margin-right: auto;
}
	
#wrapper {
	width: 100%;
	height: 100%;
}

#header {
	width: 1024px;
	height: 300px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 10px;

}

.header_links {
	font-family: 'Noto Sans', sans-serif;
	font-size: 22px;
	color: #FFF;
	margin-right: 20px;
	margin-left: 20px;
}

#content {
	width: 680px;
	height: auto;
	background-image:url(../images/content_background.png);
	background-size: contain;
	border-radius: 10px;
	padding: 20px;
}

.question {
	margin-bottom: 15px;	
}

.subquestion {
	display: none;
	background-color:rgba(240, 88, 92, 0.25);
	border-radius: 20px;
	padding-left: 10px;
	padding-top: 1px;
}

#time2 {
	margin-right: 25px;
	margin-top: 30px;
	float: right;
	width: 270px;
	border-radius: 10px;
	background-color:#4A090B;
	padding:10px;
}

.form_item {
	margin-bottom: 10px;
}

.form_item_title {
	font-size: 20px;
	margin-bottom: 7px;
	margin-top: 10px;
	color:#C00;
	font-family: 'Noto Sans', sans-serif;
}

.form_item_text {
	font-size: 14px;
	color:#FFF;
	font-family: 'Noto Sans', sans-serif;
}

.form_subtitle_text {
	font-size: 16px;
	color:#FFF;
	font-family: 'Noto Sans', sans-serif;
}

.form_headers {
	font-size:32px;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	margin-bottom: 10px;
	margin-top: 5px;
	color:#C00;

}
.two {
	width: 30px;
	text-align: center;
}

.strike {
	font-size: 14px;
	color:#FFF;
	font-family: 'Noto Sans', sans-serif;
	text-decoration:line-through;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

/* CSS for validation */

.error {
	font-size: 14px;
	color:#F00;
	font-family: 'Noto Sans', sans-serif;
	font-weight:bold;
}

.error label {
	margin-top: 10px;
}

.error-side {
	margin-left: 150px; 
	margin-top: -25px;
}

.error-side-hidden {
	display: none;
	margin-left: 150px; 
	margin-top: -25px;
}