@charset "utf-8";
/* CSS Document */

html {margin: 0px;}

body {
	margin: 0px; 
	background-image:url(../images/background-middle.png);
	background-repeat: repeat;
	background-position: 0px -41px;
	}

/* Centering */

#header, .content, #submit_content, #links {
	margin-left: auto;
	margin-right: auto;
}

#wrapper {
	width: 100%;
	height: 100%;
	background-image:url(../images/background-top.png);
	background-repeat: repeat-x;
}

#header {
	width: 1024px;
	height: 300px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 10px;
}

#links {
	width: 330px;
	margin-top:7px;
	background-image: url(../images/content_background.png);
	border-radius: 10px;
	padding:5px;
}

.header_links {
	font-family: 'Orbitron', sans-serif;
	font-size: 22px;
	color: #FFF;
	margin-right: 10px;
	margin-left: 10px;
	border-radius:10px;
}

.content {
	width: 680px;
	height: auto;
	background-image:url(../images/content_background.png);
	background-size: contain;
	border-radius: 10px;
	padding: 20px;
}

.question {
	margin-bottom: 15px;	
}

.subquestion {
	display: none;
	background-color:rgba(240, 88, 92, 0.25);
	border-radius: 20px;
	padding-left: 10px;
	padding-top: 1px;
	margin-bottom: 10px;
}

#time2 {
	margin-right: 25px;
	margin-top: 30px;
	float: right;
	width: 270px;
	border-radius: 10px;
	background-color:#4A090B;
	padding:10px;
}

.form_item {
	margin-bottom: 10px;
}

.form_item_title {
	font-size: 20px;
	margin-bottom: 7px;
	margin-top: 10px;
	color:#C00;
	font-family: 'Noto Sans', sans-serif;
}

.form_item_text {
	font-size: 14px;
	color:#FFF;
	font-family: 'Noto Sans', sans-serif;
}

.form_subtitle_text {
	font-size: 16px;
	color:#FFF;
	font-family: 'Noto Sans', sans-serif;
}

.form_headers {
	font-size:30px;
	text-align: center;
	/*font-family: 'Noto Sans', sans-serif;*/
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 10px;
	margin-top: 5px;
	color:#C00;

}
.two {
	width: 30px;
	text-align: center;
}

.strike {
	font-size: 14px;
	color:#FFF;
	font-family: 'Noto Sans', sans-serif;
	text-decoration:line-through;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.stats_highlight {
	font-size: 20px;
	color:#F00;
	font-family: 'Noto Sans', sans-serif;
}

.stats_middle {
	height: auto;
	background-image:url(../images/content_background.png);
	background-size: contain;
	border-radius: 10px;
	padding: 20px;
	width: 380px; 
	float: left; 
	padding-left: 0px; 
	padding-right: 0px;
	margin-bottom: 10px;
}

.stats_right 
{
	float: right;
	width: 635px;
	margin-bottom: 10px;
}

.stats_left 
{
	float: left;
	width: 320px;
	margin-bottom: 10px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

/* CSS for validation */

.error {
	color:#F00;
	font-family: 'Noto Sans', sans-serif;
	font-weight:bold;
}

.error label {
	margin-top: 10px;
}

.error-side {
	margin-left: 150px; 
	margin-top: -25px;
}

.error-side-hidden {
	display: none;
	margin-left: 150px; 
	margin-top: -25px;
}

/* CSS for Alert Details */

.facility_cell {width: 70px;}

.icon {width: 32px; height: 32px; display: inline-block; background-image:url(../images/icons.png); margin-bottom:2px;}

.icon_Amp_NC {background-position: -32px -32px;}
.icon_Amp_TR {background-position: -32px -64px;}
.icon_Amp_VS {background-position: -32px -96px;}

.icon_Bio_NC {background-position: -64px -32px;}
.icon_Bio_TR {background-position: -64px -64px;}
.icon_Bio_VS {background-position: -64px -96px;}

.icon_Tech_NC {background-position: -96px -32px;}
.icon_Tech_TR {background-position: -96px -64px;}
.icon_Tech_VS {background-position: -96px -96px;}